<div class="container mt-4">
    <div *ngIf="(cartService.cartSource$ | async) === null">
        <p>Your cart is empty.</p>
    </div>

    <ng-container *ngIf="(cartService.cartSource$ | async) as cart">
        <div class="container">
            <div class="row">
                <app-cart-summary
                    (addItem)="incrementQuantity($event)"
                    (removeItem)="removeItem($event)">
                </app-cart-summary>
            </div>
            <div class="row">
                <div class="col-6 offset-6">
                    <app-order-totals></app-order-totals>
                    <div class="d-grid btn-proceed">
                        <a routerLink="/checkout" class="btn btn-outline-primary py-2">
                            Proceed to checkout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>
