<footer class="footer bottom mt-5 py-4" style="background-color: #1D242B; color: #FFFFFF;">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-4 mb-4">
                <h5>PC Shop</h5>
                <p>Your one-stop shop for all your computing needs. We offer a wide range of products and services to
                    meet your tech demands.</p>
            </div>
            <div class="col-md-4 mb-4">
                <h5>Customer Service</h5>
                <ul class="list-unstyled ">
                    <li><a href="/faq" class="text-white">FAQ</a></li>
                    <li><a href="/returns" class="text-white">Returns</a></li>
                    <li><a href="/shipping" class="text-white">Shipping</a></li>
                    <li><a href="/terms" class="text-white">Terms of Service</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-4">
                <h5>Follow Us</h5>
                <div class="d-flex justify-content-center social-icons">
                    <a href="https://facebook.com" class="text-white me-3"><i class="fa fa-facebook fa-2x"></i></a>
                    <a href="https://instagram.com" class="text-white me-3"><i class="fa fa-instagram fa-2x"></i></a>
                    <a href="https://linkedin.com" class="text-white"><i class="fa fa-linkedin fa-2x"></i></a>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <p>&copy; 2024 PC Shop. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>