<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
        <div class="text-center mb-4">
          <p class="mb-3 title">Welcome Back!</p>
        </div>
        <app-text-input [formControl]="loginForm.controls['email']" [label]="'Email Address'"></app-text-input>
        <app-text-input [formControl]="loginForm.controls['password']" [type]="'password'" [label]="'Password'"></app-text-input>
        <div class="d-grid">
          <button [disabled]="loginForm.invalid" class="btn btn-lg btn-primary mt-3" type="submit">Log in</button>
        </div>
      </form>
      <div class="text-center mt-3">
        <p class="mb-0">Don't have an account? <a routerLink="/account/register" class="link">Sign up</a></p>
      </div>
    </div>
  </div>
</div>