.back {
    color: #0077C0; 
    border-color: #0077C0; 
}

.next {
    background-color: #0077C0; 
    border-color: #0077C0; 
}

.back:hover {
    background-color: #0077C0;
    color: white; 
}

.next:hover {
    background-color: #005aa6; 
    border-color: #005aa6; 
}