<div class="card shadow h-100">
    <div class="position-relative">
        <img src="{{product?.pictureUrl}}" alt="{{product?.name}}" class="card-img-top" style="cursor: pointer;">
        <div class="overlay">
            <button (click)="addItemToCart()" class="btn btn-primary me-2"><i class="fa fa-shopping-cart"></i></button>
            <button routerLink="/shop/{{product?.id}}" class="btn btn-primary"><i class="fa fa-eye"></i></button>
        </div>
    </div>
    <div class="card-body">
        <a href="/shop/{{product?.id}}" class="text-decoration-none">
            <h6 class="card-title text-uppercase">{{product?.name}}</h6>
        </a>
    </div>
    <div class="card-footer bg-transparent">
        <p class="card-text">{{product?.price | currency}}</p>
    </div>
</div>