h5 {
    color: #E94560;
}

.sort-btn {
    background-color: #0077C0;
}

.list-group-item {
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    font-size: 1.1em;

    &.active {
        border-radius: 10px;
        background-color: #0077C0;
    }

    &:not(.active):hover {
        color: black;
        background-color: #C7EEFF;
        border-radius: 10px;
    }
}

.button {
    color: #0077C0;
    border-color: #0077C0;
}

button:hover {
    background-color: #0077C0;
    color: white;
}

@media (max-width: 575.98px) {
    #sidebar {
        font-size: 0.9rem; 
    }

    .sort-btn {
        font-size: 0.9rem; 
    }

    .search input[type="text"] {
        font-size: 0.9rem; 
        padding: 0.25rem 0.5rem; 
    }

    .search button {
        font-size: 0.9rem; 
        padding: 0.25rem 0.5rem; 
    }
}