<!-- <pagination *ngIf="totalCount && pageSize"
[boundaryLinks]="true"
[totalItems]="totalCount" 
[itemsPerPage]="pageSize"
[maxSize]="10"
[ngModel]="pageNumber"
(pageChanged)="onPagerChanged($event)"
previousText="&lsaquo;" 
nextText="&rsaquo;"
firstText="&laquo;" 
lastText="&raquo;"
class="pagination">
</pagination> -->

<div class="custom-pagination">
    <!-- Your pagination component here -->
    <pagination *ngIf="totalCount && pageSize"
        [boundaryLinks]="true"
        [totalItems]="totalCount" 
        [itemsPerPage]="pageSize"
        [maxSize]="10"
        [ngModel]="pageNumber"
        (pageChanged)="onPagerChanged($event)"
        previousText="&lsaquo;" 
        nextText="&rsaquo;"
        firstText="&laquo;" 
        lastText="&raquo;">
    </pagination>
</div>
