.cart-number {
    position: absolute;
    min-height: 24px;
    min-width: 24px;
    border-radius: 50%;
    background: red;
    color: white;
    text-align: center;
    top: -12px;
    right: 32px;
}

a {
    text-decoration: none;
    color: black;
    &.active {
        color: blue;
    }
}

.logo {
    cursor: pointer;
}